@media (min-width: 576px) {
  .hero-slider-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .hero-slider-img img {
    max-width: 24rem;
  }
}

@media (min-width: 768px) {
  .hero-slider .swiper-slide {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .hero-slider-row {
    flex-direction: row;
  }

  .hero-slider-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-slider-img {
    margin-top: 0;
  }

  .hero-slider .swiper-pagination {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .hero-slider .swiper-slide {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 700px;
  }

  .hero-slider-title {
    font-size: 3rem;
    line-height: 1;
  }

  .hero-slider-subtitle {
    font-size: 20px;
  }

  .hero-slider-action {
    margin-top: 3rem;
  }

  .hero-slider-btn {
    font-size: 20px;
  }

  .hero-slider-img img {
    max-width: 32rem;
  }
}

@media (min-width: 1280px) {
  .hero-slider-content {
    max-width: 620px;
  }

  .hero-slider-title {
    display: block;
    font-size: 6rem;
    line-height: 1;
  }

  .hero-slider-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    column-gap: 1.25rem;
  }

  .hero-slider-img img {
    max-width: 100%;
  }
}

@media (min-width: 1536px) {
  .hero-slider .swiper-slide {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 100vh;
  }

  .hero-slider-content {
    max-width: 650px;
  }

  .hero-slider-title {
    font-size: 6rem;
    line-height: 1;
  }
}
